/* Mobile First | Responsive */

.photography-container {
  margin-top: 50px;
  padding-top: 20px;
}

.photography-container h1 {
  text-align: center;
  font-size: 48px;
}

.photography-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}

.photography {
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  width: 100%;
  /* margin-bottom: 20px; */
  filter: grayscale(90%);
  -webkit-transition: filter 250ms ease-in-out 500ms;
  -moz-transition: filter 250ms ease-in-out 500ms;
  -o-transition: filter 250ms ease-in-out 500ms;
  transition: filter 250ms ease-in-out 400ms;
}

.photography:hover, .photography:focus {
  filter: grayscale(0%);
}

/* Desktop | Responsive */

@media all and (min-width: 700px) {
  .photography-container h1 {
    font-size: 60px;
  }

  .photography-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 23px;
    grid-row-gap: 20px;
  }
}