/* Mobile First | Responsive */

.photography-container {
  margin-top: 50px;
  padding-top: 20px;
}

.photography-container h1 {
  text-align: center;
  font-size: 48px;
}

.photography-section {
  
}

.photography {
  width: 250px;
}

/* Desktop | Responsive */

@media all and (min-width: 700px) {
  .photography-container h1 {
    font-size: 60px;
  }
}