/* Mobile First | Responsive */

.contact-container {
  margin-top: 50px;
  padding-top: 20px;
}

.contact-container h1 {
	text-align: center;
	font-size: 48px;
}

.contact-section {
  padding: 20px;
}

form {
	padding-right: 6px;
}

form label {
	font-size: 20px;
}

form input {
	height: 35px;
	margin-top: 10px;
	font-size: 20px;
}

form input, form textarea {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 2px;
	border:	none;
}

form textarea {
	height: 160px;
	margin-top: 10px;
	font-size: 20px;
}

form button {
	font-family: 'Montserrat', sans-serif;
	color: #F3F0ED;
	border: none;
	padding: 7px;
	border-radius: 5px;
	width: 7rem;
	background-color: #7180ED;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-size: 20px;
}

form button:hover {
	cursor: pointer;
	background-color: #7f8cee;
}

/* Desktop | Responsive */

@media all and (min-width: 700px) {
	.contact-container h1 {
		font-size: 60px;
	}

	.contact-section {
		width: 50%;
		margin: 0 auto;
	}
}