.about-container {
  margin-top: 50px;
  padding-top: 20px;
}

.about-container h1 {
  text-align: center;
}

.about-sections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.about-section {
  /* background: rgba( 188, 124, 156, 0.25 );
  backdrop-filter: blur( 10.5px );
  -webkit-backdrop-filter: blur( 10.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 300px;
}