.footer-container {
  background-color: #40434E;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.footer-container p, .footer-container ul {
  color: #F5F0F6;
  margin: 0;
  padding: 0 5px;
}

.footer-container ul {
  display: flex;
}

.footer-container ul li {
  list-style-type: none;
}

.footer-container ul li a {
  color: #F5F0F6;
  text-decoration: none;
  cursor: pointer;
}

.footer-container ul li a:hover, .footer-container ul li a:active {
  color: #F0F600;
}

.landing-footer ul li a:active {
  color: #BC7C9C;
}

.footer-container ul li {
  padding-right: 10px;
}

.icon {
  font-size: 24px;
}

.email {
  text-decoration: none;
  color: #FFF;
}

.email:hover {
  text-decoration: none;
  color: #FDE;
}